{% extends 'base.html' %}

{% block content %}

<section style=" height: 100vh; background-image: url('https://i.imgur.com/gpqP3RC.jpg');" class="text-center">

<div class="p-5 bg-image" ></div>
  <div class="card mx-md-5 shadow-2-strong" style=" background: hsla(0, 0%, 100%, 0.4); backdrop-filter: blur(30px); ">
    <div class="card-body">
      <div class="row d-flex justify-content-center">
        <div class="col">
          {% if object %}
          <h1>Edit {{object.name}}</h1>
          {% else %}
          <h1>Create Post</h1>
          {% endif %}
            <div class="form-outline mb-4 text-center">
              <form style="margin-top: 10px;" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table">
                  {{ form }}
                </table>
                <input type="submit" value="Submit" class="btn btn-secondary">
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
