.card {
    display: inline-block;
}

.img-height {
    max-height: 95vh;
}
* {
    font-family: 'Josefin Sans', sans-serif;
}

.property-title {
    font-weight: bold;
} 

.table1-font-size {
    font-size: 16px;
}

.brand-title {
    font-size: 30px;
    font-style: italic;
    font-weight: 900;
    color: #5F98B8;
}