{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row mt-5">
            <div class="card text-center">
              <div class="card-header mt-2 "><h4>{{recipe.name}}</h4></div>
              <div class="card-body">
                <table class="table table1-font-size">
                  <tr>
                    <td class="property-title"><p>Sensor:</p></td>
                    <td>{{ recipe.sensor }}</td>
                    <td class="property-title">Dynamic Range:</td>
                    <td>{{ recipe.dynamic_range }}</td>
                    <td class="property-title">Film Sim:</td>
                    <td>{{ recipe.film_simulation }}</td>
                    <td class="property-title">MonoChr Col WC:</td>
                    <td>{{ recipe.monochromatic_color_WC }}</td>
                  </tr>
                  <tr>
                    <td class="property-title">MonoChr Col MG:</td>
                    <td>{{ recipe.monochromatic_color_MG }}</td>
                    <td class="property-title">High Tone:</td>
                    <td>{{ recipe.highlight_tone }}</td>
                    <td class="property-title">Shad Tone:</td>
                    <td>{{ recipe.shadow_tone }}</td>
                    <td class="property-title">Color:</td>
                    <td>{{ recipe.color }}</td>
                  </tr>
                  <tr>
                    <td class="property-title">Noise Red:</td>
                    <td>{{ recipe.noise_reduction }}</td>
                    <td class="property-title">Clarity:</td>
                    <td>{{ recipe.clarity }}</td>
                    <td class="property-title">Grain Eff:</td>
                    <td>{{ recipe.grain_effect }}</td>
                    <td class="property-title">Grain Size:</td>
                    <td>{{ recipe.grain_size }}</td>
                  </tr>
                  <tr>
                    <td class="property-title">White Bal:</td>
                    <td>{{ recipe.white_balance }}</td>
                    <td class="property-title">White Bal Red:</td>
                    <td>{{ recipe.white_balance_shift_red }}</td>
                    <td class="property-title">White Bal Blue:</td>
                    <td>{{ recipe.white_balance_shift_blue }}</td>
                    <td class="property-title">Sharpness:</td>
                    <td>{{ recipe.sharpness }}</td>
                  </tr>
                  <tr>
                    <td class="property-title">ISO:</td>
                    <td>{{ recipe.iso }}</td>
                    <td class="property-title">Exposure:</td>
                    <td>{{recipe.exposure_compensation }}</td>
                  </tr>
                </table>
              </div>
              <div class="card-footer text-muted">Submitted by:{{recipe.user}}</div>
            </div>
    </div>
</div>

{% endblock %}