{% extends 'base.html' %}
{% block content %}

<h1 style="text-align: center;" class="mt-4">Recipes</h1>
<div class="card-columns container-fluid">
<div class="row justify-content-center">
{% for recipe in recipes %}

  <div class="card p-3 m-2 text-center" style= "height: 180px; width: 280px;" >
    <div class="card-body">
      <a style="color: black;" href="{% url 'recipe_details' recipe.id %}"><h5 class="card-title">{{ recipe.name }}</h5></a>
      <p class="card-text">Sensor Type: {{ recipe.sensor }}</p>
      {% if recipe.user == request.user %}
      <a class=" btn btn-sm btn-secondary" style="text-decoration: none; color: black;" href="{% url 'recipes_update' recipe.id %}">Edit </a>
      <a class=" btn btn-sm btn-secondary" style="text-decoration: none; color: black;" href="{% url 'recipes_delete' recipe.id %}"> Delete</a>  
      {% endif %}
    </div>
  </div>
{% endfor %}
</div>
</div>
{% endblock %}
